@charset "UTF-8";


	#add_comment_txt {
		cursor: pointer;
	}
	
	.write_popup {
		display: inline-block;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		position: relative;
		z-index: 10;
	}
	
	.dimmed {
		background-color: #99999900;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	
	.dimmed::before {
		content: '';
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(255, 255, 255, 0.55);
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}
	
	.popup {
		z-index: 3;
		position: relative;
		min-width: 300px;
		max-width: 600px;
		background-color: #fff;
		border-radius: 15px;
		box-shadow: 0 2px 55px -25px rgb(0 0 0/ 100%);
	}
	
	.popup>.title {
		border-radius: 15px 15px 0 0;
		min-height: 40px;
		color: #fff;
		background-color: #FADE6D;
		padding: 10px 15px;
		box-sizing: border-box;
		font-family: 'SUIT Variable';
	    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css') format('sans-serif');
	    font-weight: bold;
	    font-style: bold;
	    font-size: 1em;
	}
	
	.popup>.content {
		padding: 20px;
		box-sizing: border-box;
		color: black; 
		font-family: 'GangwonEduHyeonokT_OTFMediumA'; 
		font-size: 1.5em;
	}
	
	.commentpop { 
		background-color: #FFFFFF; 
		outline-color: #FFFFFF;
		height: 50%; 
		width: 100%; 
		border: 0; 
		overflow-y: hidden; 
		resize: none; 
	}
	
	.popup>.cmd {
		bottom: 0;
		min-height: 40px;
		padding: 15px 15px;
		box-sizing: border-box;
		border-radius: 0 0 15px 15px;
		min-height: 40px;
		text-align: right;
	}
	
	.popup>.cmd .popbutton {
		border-radius: 8px;
		padding: 5px 10px;
		border: 1px solid #aaa;
	}
	
	.popup>.cmd .popbutton:hover {
		color: #fff;
		background-color: #000;
		border-color: #000;
	}
	
	
	.checkbox-wrap { cursor: pointer; font-family: 'SUIT Variable';
	    src: url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css') format('sans-serif');
	    color: black; font-size: 0.8em; }
	.checkbox-wrap .check-icon  { display: inline-block; width: 25px; height: 25px; /* center no-repeat;  */vertical-align: middle; transition-duration: .3s; }
	.checkbox-wrap input[type=checkbox] { display: none; }