@charset "UTF-8";

@font-face {
	font-family: 'SUIT-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: black;
	color: white;
}


#a {
	margin-top: 30px;
}


#b, #c, #userId, #password, #checkpwd, #nickname {
	outline: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid gray;
	width: 150px;
	height: 24px;
	background-color: #3d3d3d;
	text-align : center;
	color: white;
}


input::-webkit-input-placeholder {
	text-align: center
}


#b {
	margin-top: 60px;
	margin-bottom: 20px;
}


#c {
	margin-bottom: 40px;
}





#d {
	margin-top : 20px;
}


#password {
	margin-top : 30px;
}


#nickname, #userId {
	margin-top : 15px;
}


.button {
	font-family: 'SUIT-Regular';
	font-weight: 700;
	background: none;
	text-align: center;
	cursor: pointer;
	color: white;
	border: 0;
	outline: 0;
	top: 300px;
}


#chek {
	background : #FADE6D;
}

#pop {
	z-index:100;
	width: 400px;
	height: 500px;
/* 	top: ; */
	

	background: #3d3d3d;
	color: #fff;
	position: absolute;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	margin : auto;
	text-align: center;
	border-radius: 10px;
	/* 		display : flex;  화면 크기에 따라 크기가 달라지게 하는 것*/
}


#popUp{
	align-items:center;
	
}


#log2 {
	color : white;
}